# Name: MicroStructureToolBox
# Author: Simon Klein
# Version: 0.9
# Date: 2017/01/09
# Requires: ImageJ 1.31s
Plugins>Analyze, "Measure linear distances (two domains, 8 bit)", mstb.ld.LinearDistance("")
Plugins>Analyze, "Measure linear distances (single domains, interactive)", mstb.ldi.LinearDistanceInteractive("")
Plugins>Analyze, "Point Analysis (multiple domains)", mstb.pai.PointAnalysisInteractive("")