# Name: LinearDistance
# Author: Simon Klein
# Version: 1.9
# Date: 2016/03/20
# Requires: ImageJ 1.31s
Plugins>Analyze, "Measure linear distances (two domains, 8 bit)", mstb.LinearDistance("")
Plugins>Analyze, "Measure linear distances (single domains, interactive)", mstb.LinearDistanceInteractive("")
Plugins>Analyze, "Point Analysis (multiple domains)", mstb.PointAnalysisInteractive("")